<h1>
  {{title}}
</h1>
<tabs>
  <tab tabTitle="Foo">
    Content of tab Foo
  </tab>
  <tab tabTitle="Bar">
    Content of tab Bar
  </tab>
</tabs>

<tabs2>
  <tab2 tabTitle="Tab 1">
    Tab 1 Content
  </tab2>
  <tab2 tabTitle="Tab 2">
    Tab 2 Content
  </tab2>
</tabs2>

<tag-input-sample 
  [allowedItems]="['Invoice', 'Delivery Note', 'Sale Order', 'Purchase Order']" 
  placeholder="Enter one or more document"
  hint="+document"
></tag-input-sample>

<tag-input-sample 
  [allowedItems]="['Balance', 'Ledger cards', 'VAT returns', 'Journal Entries']" 
  placeholder="use on these printed forms"
  hint="+form"
></tag-input-sample>